h2 {
    color: red;
    margin-left : 600px;
    animation: changePosition 10s ;
    position : relative

}

*{
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes changePosition {

    from {margin-left: 0; }
    to{margin-left: 600px;}
}

.header {
    display : flex ;
    position : relative;
    border : 10px solid;
    border-radius: 30px;
    border-image : url(bg.jpg) 10 round;
    justify-content: space-between;
    align-items: center;
animation : changeColor 10s infinite
}

@keyframes changeColor {
   0% { background-color: red;}
   20% {background-color: orange;}
   40% { background-color: yellow;}
   60%{ background-color: green;}
   80% { background-color: blue;}
   100% {background-color: rgb(236, 37, 236);}
   
}

.games {
    display : flex ;
    flex-wrap:wrap;
    justify-content: space-evenly;
}


.items p {
text-align: center;

}

.footer {
    display : flex ;
    justify-content: flex-end;
    flex-direction : column; 

}

.abc {
    display: flex ;
    justify-content: flex-end;
    text-align: left;

}

.header a {
    animation: appear 10s ;
    padding:30px;

}

@keyframes appear {
    
    from {opacity: 0;}
    to {opacity: 100;}
}